.navbar-links {
    color: white;
    display: flex;
    justify-content: center;
    gap: 2%;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: white;
    transition: background-color 0.3s, border-radius 0.3s;
    padding: 10px 20px;
    border-radius: 8px;
  }
  
  .navbar-links a:hover {
    background-color: black;
    border-radius: 20px;
  }

  .image-section {
  width: 100%;
  overflow: hidden;
  position: relative;
  }

  .image-section img {
  width: 100%;
  height: 500px;
  display: block;
  object-fit: cover;
  filter: brightness(0.7);
  }